.yith_wcarc_gained_roles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 24px;
    margin-block: 24px;
}

.yith_wcarc_gained_role{
    background: #f6f6f6;
    padding: 24px;
    text-align: center;
    line-height: 1.5;
}

.yith_wcarc_gained_role__message{
    font-size: .9em;
}
.yith_wcarc_gained_role__role{
    font-size: 2em;
    font-weight: 500;
}

.yith_wcarc_gained_role__dates{
    font-size: .9em;
    margin-top: 4px;
}